@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BugsSytem</h1>
    <p>Please press the bugs tab above for CRUD operations for the current bugs</p>
</div>
